.card {
    background-color: #c8c9c7;
    border: solid #D29F13;
    min-height: 600px;
    height: auto;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
  }
  
  .card-body img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  
  .card-body p.description {
    flex-grow: 1;
  }