.my-modal .modal-content {
    background-color: #154734;
    color: gold;
}

.my-modal .modal-backdrop{
    background-color: gold;
}

.add-post-button{
    color: black;
    background-color: gold;
}

.input-field{
    border-color: gold;
}
.form-label{
    align-self: center;
    align-items: center;
    align-content: center;
    text-align: center;
}